**
!./src
!./public
!./dist
!./config
!./database
!./tsconfig.json
!./package.*
!./yarn.*
!./favicon.png
!.deploy/entrypoint.sh

.deploy
Dockerfile
docker-compose.yml
.env.example
.editorconfig
README.md
